<% layout('layouts/boilerplate.ejs') %> 

<h2>Edit Images</h2>

<form action = '/parks/<%= park._id  %>' method = 'POST' enctype = 'multipart/form-data' class = 'validated-form input-group mb-3 d-flex' novalidate>

    <h5 class = 'my-3'>Add Images</h3>
    <div class = 'col-12 mb-5'>
        <input type="file" class="form-control" name = 'image' id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple>
    </div>


    <h5 class = 'my-3'>Delete Images</h3>
    <div class = 'col-12'>
        <% park.images.forEach(function(image, i){ %>
            <!--FROM 'imageSchema' VIRTUAL IN 'park' MODEL-->
            <img class = 'img-thumbnail' src = '<%= image.thumbnail %>'> 
            <div class = 'form-check-inline'>
                <input type = 'checkbox' id = 'image-<%=i%>' name = 'deleteImages[]' value = '<%= image.filename %>'>
            </div>   
            <label for = 'image-<%=i%>'>Delete</label>
        <% }) %>  
    </div>

    <div class = 'col-12 my-5'>
        <button class = 'btn btn-success'>Update Images</button>
    </div>
    
</form>

<div class = 'mt-auto'>
    <a href = '/parks/<%= park._id %> '>Back To <%= park.name %></a>
</div>