<% layout('layouts/boilerplate.ejs') %> 

<!--ADDING 'star.css' TO SHOW ROUTE ONLY-->
<link rel = 'stylesheet' href = '/styles/stars.css'>

<h1><%= park.name %></h1>
<h5 class = 'pb-3'><%= park.location %> </h5>
<div class = 'row'>
    <div class = 'col-7'>
        <div>
            <img class="d-block w-100" src = '<%= park.image %>'>
        </div>
        <div class = 'card'>
            <div class = 'card-body'>
                <h4 class = 'card-title pb-3'> Number of Courts: <%= park.courts %></h4> 
                <p class = 'card-text'> <%= park.description %> </p>
            </div>
        </div>
        <!--POSTING A COMMENT-->
        <div>
            <form action = '/parks/<%= park._id%>/comments' method = 'POST'>
                <div class = 'my-2'>
                    <label class = 'form-label' for='body'><h4>Join the Conversation</h4></label>
                    <textarea class = 'form-control' name = 'comment[body]' id = 'body' cols = '30' row = '10' required></textarea>
                    <div class = 'valid-feedback'>
                        Looks good!
                    </div>
                </div>
                <button class = 'btn btn-success mt-2'>Comment</button>
            </form>       
        </div>
        <!--DISPLAYING A COMMENT-->
        <div>
            <%for(let comment of park.comments){ %> 
                <div class = 'card my-2'>
                    <div class="card-body">
                        <h6 class = 'card-title mb-2'><%= comment.author.username %></h6>
                        <p class = 'card-text'><%= comment.body %></p>
                    </div>
                    <% if(currentUser && comment.author.equals(currentUser._id)){ %>
                    <div class = 'p-2 d-flex justify-content-end'>    
                        <form action = '/parks/<%= park._id %>/comments/<%= comment._id %>?_method=DELETE' method = 'POST'>
                            <button class = 'btn btn-sm btn-danger'>Delete</button>
                        </form>  
                    </div>
                    <% } %>     
                </div>
            <%}%>    
            <!--HIDING DELETE BUTTON IF YOU'RE NOT THE OWNER OF REVIEW-->
        </div>    
    </div>

    <div class = 'col-5'>
        <div id='map' class = 'mb-3' style='width: 100%; height: 350px;'></div>

        <!--DISPLAYING REVIEWS-->
        <div class = "<%= park.reviews.length === 0 ? 'display:none':'my-3 card'%>">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <%for(let i = 0; i < park.reviews.length; i++){ %>     
                        <div class="<%= i === 0 ? 'carousel-item active':'carousel-item'%>">
                            <div class = 'container'>
                                    <div class = 'my-1 p-2'>
                                        <div class = 'd-flex flex-column align-items-center'>
                                            <h6 class = 'card-title mb-2'><%= park.reviews[i].author.username %></h6>
                                            <p class="starability-result" data-rating="<%= park.reviews[i].rating %>">
                                                Rated: <%= park.reviews[i].rating %> Stars 
                                            </p>
                                            <p class = 'card-text'><%= park.reviews[i].body %></p>
                            
                                            <!--HIDING DELETE BUTTON IF YOU'RE NOT THE OWNER OF REVIEW-->
                                            <% if(currentUser && park.reviews[i].author.equals(currentUser._id)){ %> 
                                            <form action = '/parks/<%= park._id %>/reviews/<%= park.reviews[i]._id %>?_method=DELETE' method = 'POST'>
                                                <button class = 'btn btn-sm btn-danger'>Delete</button>
                                            </form>    
                                            <% } %>     
                                        </div>    
                                    </div>
                            </div>
                        </div>
                    <% } %> 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!--CREATING A REVIEW-->

        <h2>Leave a Review</h2>
        <form action = '/parks/<%= park._id %>/reviews' method = 'POST' class = 'validated-form' novalidate>
            <div>  
                <label class = form-label for = 'rating'><legend>Rating</legend></label>
                <fieldset id = rating class="starability-grow">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>    
            <div class = 'mb-2'>
                <label class = 'form-label' for='body'>Review</label>
                <textarea class = 'form-control' name = 'review[body]' id = 'body' cols = '30' row = '10' required></textarea>
                <div class = 'valid-feedback'>
                    Looks good!
                </div>
            </div>
            <button class = 'btn btn-success'>Submit</button>
        </form>
    </div>   
</div>    

<div>
    <a href="/parks">Back to All Parks</a>
</div>

<script>
    //SENDING THIS TO 'showPageMap.js'

    //FROM ''.env' FILE
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    //ACCESSING PARK DATA
    const park = <%-JSON.stringify(park)%>
</script>
<script src = '/scripts/showPageMap.js'></script>
