<% layout('layouts/boilerplate.ejs') %> 

<h1><%= park.name %></h1>
<h5 class = 'pb-3'><%= park.location %> </h5>
<div class = 'row'>
    <div class = 'col-7'>
        <div>
            <img class="d-block w-100" src = '<%= park.image %>'>
        </div>
        <div class = 'card'>
            <div class = 'card-body'>
                <h4 class = 'card-title pb-3'> Number of Courts: <%= park.courts %></h4> 
                <p class = 'card-text'> <%= park.description %> </p>
            </div>
        </div>
    </div>

    <div class = 'col-5'>
        <div id='map' class = 'mb-3' style='width: 100%; height: 40%;'></div>
        <h2>Leave a Review</h2>
        <form action = '/parks/<%= park._id %>/reviews' method = 'POST' class = 'validated-form' novalidate>
            <div class = 'mb-3'>
                <label class = form-label for = 'rating'>Rating</label>
                <input class = 'form-range'  type='range' min = '1' max = '5' name = 'review[rating]' id = 'rating'>
            </div>
            <div class = 'mb-3'>
                <label class = 'form-label' for='body'>Review</label>
                <textarea class = 'form-control' name = 'review[body]' id = 'body' cols = '30' row = '10' required></textarea>
                <div class = 'valid-feedback'>
                    Looks good!
                </div>
            </div>
            <button class = 'btn btn-success'>Submit</button>
        </form>

        <!--DISPLAYING REVIEWS-->
            <% for(let review of park.reviews ){%>
                <div class = 'card my-3'>
                    <div class = 'card-body'>
                        <h5 class = 'card-title'>Rating: <%= review.rating %> </h5>
                        <h6 class = 'card-subtitle mb-2 text-muted'>By: <%= review.author.username %> </h6>
                        <p class = 'card-text'><%= review.body %></p>

                        <!--HIDING DELETE BUTTON IF YOU'RE NOT THE OWNER OF REVIEW-->
                        <% if(currentUser && review.author.equals(currentUser._id)){ %> 
                        <form action = '/parks/<%= park._id %>/reviews/<%= review._id %>?_method=DELETE' method = 'POST'>
                            <button class = 'btn btn-sm btn-danger'>Delete</button>
                        </form>    
                        <% } %> 

                    </div>    
                </div>
            <% } %>  
        </div>    
</div>    

<div>
    <a href="/parks">Back to All Parks</a>
</div>

<script>
    //SENDING THIS TO 'showPageMap.js'

    //FROM ''.env' FILE
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    //ACCESSING PARK DATA
    const park = <%-JSON.stringify(park)%>
</script>
<script src = '/scripts/showPageMap.js'></script>
