<% layout('layouts/boilerplate.ejs') %> 

<h1><%= park.name %></h1>
<h5 class = 'pb-3'><%= park.location %> </h5>
<div class = row>
    <div class = 'col-7'>
        <div class = 'pb-3'>
            <img class = 'img-fluid' src = '<%= park.image %>'>
        </div>
        <h4>Number of Courts: <%= park.courts %></h4>
        <p><%= park.description %> </p>
    </div>

    <div class = 'col-5'>
        <p>Insert Map here...</p>
        <h2>Leave a Review</h2>
        <form action = '/parks/<%= park._id %>/reviews' method = 'POST'>
            <div class = 'mb-3'>
                <label class = form-label for = 'rating'>Rating</label>
                <input class = 'form-range'  type='range' min = '1' max = '5' name = 'review[rating]' id = 'rating'>
            </div>
            <div class = 'mb-3'>
                <label class = 'form-label' for='body'>Reviews</label>
                <textarea class = 'form-control' name = 'review[body]' id = 'body' cols = '30' row = '10'></textarea>
            </div>
            <button class = 'btn btn-success'>Submit</button>
        </form>
    </div>    

</div>    

<div>
    <a href="/parks">Back to All Parks</a>
</div>

